.brick {
  height: 35px;
  width: 105px;
  position: absolute;
  z-index: -1;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
}

.form{
  border-radius: 0.8em;
  background-color: grey;
  padding: 1.5em;
  display: inline-block;
}

.form input{
  margin: 0.3em;
}

.form button{
  margin: 0.3em;
}

.center{
  width: 12em;
	height: 9em;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

.results{
  background-color: rgb(202, 202, 202);
}
#result{
  padding-bottom: 2em;
}